Code Server.json
[
    {
        "id": "b4221cfa3dcd5ed5",
        "type": "tab",
        "label": "Server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c9d5dc2961b59ead",
        "type": "group",
        "z": "b4221cfa3dcd5ed5",
        "name": "User Identification",
        "style": {
            "stroke": "#92d04f",
            "label": true,
            "color": "#001f60"
        },
        "nodes": [
            "4aa90baebe9a6767",
            "4d2d0e1e95fa36f7",
            "af059406392d2ae9",
            "45101d50b04cc0c6",
            "dfbe6e008d9098ca",
            "186457cf584af6fe",
            "61e517ad912441fc",
            "cbeb5accb1a944bc",
            "e04bf22c9a2c3246",
            "6f8a6c329d7f9b2b",
            "7a8dfd3289839ecb"
        ],
        "x": 134,
        "y": 159,
        "w": 1412,
        "h": 302
    },
    {
        "id": "d0a1bd19bc64025e",
        "type": "group",
        "z": "b4221cfa3dcd5ed5",
        "name": "Server Code",
        "style": {
            "label": true
        },
        "nodes": [
            "6ed26f53d46ae8e9",
            "1eb9115502066181",
            "0fa74a4db46bbd5d",
            "546c975c01ad2ad2",
            "b56a0e91ae42c1e7",
            "b57be9b04edee024",
            "943710baf63717f2",
            "31f0e1ba53589e61",
            "aec2335dddb911b5",
            "90c2152ce38be028"
        ],
        "x": 434,
        "y": 599,
        "w": 932,
        "h": 242
    },
    {
        "id": "c34ebbce2b4a19c4",
        "type": "group",
        "z": "b4221cfa3dcd5ed5",
        "name": "Troubleshooting",
        "style": {
            "label": true
        },
        "nodes": [
            "32382d79b26ce170",
            "56520437f481fffe",
            "68d1cdb2b5e16d17",
            "245ff57ad5357e39"
        ],
        "x": 154,
        "y": 939,
        "w": 672,
        "h": 82
    },
    {
        "id": "6ed26f53d46ae8e9",
        "type": "mqtt in",
        "z": "b4221cfa3dcd5ed5",
        "g": "d0a1bd19bc64025e",
        "name": "",
        "topic": "server",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f8c0a9b48a1c6f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 740,
        "wires": [
            [
                "1eb9115502066181",
                "0fa74a4db46bbd5d"
            ]
        ]
    },
    {
        "id": "1eb9115502066181",
        "type": "function",
        "z": "b4221cfa3dcd5ed5",
        "g": "d0a1bd19bc64025e",
        "name": "function 216",
        "func": "// Function Node\nvar userid = msg.payload.userid;\nvar topic = msg.payload.topic;\nvar query = msg.payload.query;\n\n//var sqlQuery = `SELECT * FROM USERS WHERE USERNAME = '${username}';`; // Construct the SQL query\n\n\nmsg.userid = userid;\nmsg.topic = topic;\nmsg.query = query;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 740,
        "wires": [
            [
                "546c975c01ad2ad2",
                "90c2152ce38be028"
            ]
        ]
    },
    {
        "id": "0fa74a4db46bbd5d",
        "type": "debug",
        "z": "b4221cfa3dcd5ed5",
        "g": "d0a1bd19bc64025e",
        "name": "debug 380",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 700,
        "wires": []
    },
    {
        "id": "546c975c01ad2ad2",
        "type": "postgresql",
        "z": "b4221cfa3dcd5ed5",
        "g": "d0a1bd19bc64025e",
        "name": "",
        "query": "",
        "postgreSQLConfig": "ead502047907d635",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 870,
        "y": 740,
        "wires": [
            [
                "b57be9b04edee024",
                "943710baf63717f2",
                "aec2335dddb911b5"
            ]
        ]
    },
    {
        "id": "b56a0e91ae42c1e7",
        "type": "mqtt out",
        "z": "b4221cfa3dcd5ed5",
        "g": "d0a1bd19bc64025e",
        "name": "",
        "topic": "response",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f8c0a9b48a1c6f6",
        "x": 1220,
        "y": 740,
        "wires": []
    },
    {
        "id": "b57be9b04edee024",
        "type": "debug",
        "z": "b4221cfa3dcd5ed5",
        "g": "d0a1bd19bc64025e",
        "name": "debug 383",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 680,
        "wires": []
    },
    {
        "id": "943710baf63717f2",
        "type": "function",
        "z": "b4221cfa3dcd5ed5",
        "g": "d0a1bd19bc64025e",
        "name": "function 218",
        "func": "var userid = msg.userid;\nvar result_query = msg.payload;\nvar topic = msg.topic;\n\nmsg = {\n     topic: userid,\n     payload: {\n          userid: userid,\n          topic: topic,\n          result: result_query\n     }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 740,
        "wires": [
            [
                "b56a0e91ae42c1e7",
                "b57be9b04edee024",
                "31f0e1ba53589e61"
            ]
        ]
    },
    {
        "id": "31f0e1ba53589e61",
        "type": "debug",
        "z": "b4221cfa3dcd5ed5",
        "g": "d0a1bd19bc64025e",
        "name": "debug 395",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 800,
        "wires": []
    },
    {
        "id": "4aa90baebe9a6767",
        "type": "mqtt in",
        "z": "b4221cfa3dcd5ed5",
        "g": "c9d5dc2961b59ead",
        "name": "",
        "topic": "server/userIdentification",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f8c0a9b48a1c6f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 300,
        "wires": [
            [
                "4d2d0e1e95fa36f7",
                "af059406392d2ae9"
            ]
        ]
    },
    {
        "id": "4d2d0e1e95fa36f7",
        "type": "function",
        "z": "b4221cfa3dcd5ed5",
        "g": "c9d5dc2961b59ead",
        "name": "function 219",
        "func": "// Function Node\nvar username = msg.payload.username;\nvar query = msg.payload.query;\n\n//var sqlQuery = `SELECT * FROM USERS WHERE USERNAME = '${username}';`; // Construct the SQL query\n\n\nmsg.username = username;\n//msg.query = sqlQuery;\nmsg.query = query;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 300,
        "wires": [
            [
                "45101d50b04cc0c6"
            ]
        ]
    },
    {
        "id": "af059406392d2ae9",
        "type": "debug",
        "z": "b4221cfa3dcd5ed5",
        "g": "c9d5dc2961b59ead",
        "name": "debug 397",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "45101d50b04cc0c6",
        "type": "postgresql",
        "z": "b4221cfa3dcd5ed5",
        "g": "c9d5dc2961b59ead",
        "name": "",
        "query": "",
        "postgreSQLConfig": "ead502047907d635",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 730,
        "y": 300,
        "wires": [
            [
                "cbeb5accb1a944bc",
                "7a8dfd3289839ecb"
            ]
        ]
    },
    {
        "id": "dfbe6e008d9098ca",
        "type": "mqtt out",
        "z": "b4221cfa3dcd5ed5",
        "g": "c9d5dc2961b59ead",
        "name": "",
        "topic": "client/userIdentification",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f8c0a9b48a1c6f6",
        "x": 1420,
        "y": 280,
        "wires": []
    },
    {
        "id": "186457cf584af6fe",
        "type": "function",
        "z": "b4221cfa3dcd5ed5",
        "g": "c9d5dc2961b59ead",
        "name": "function 220",
        "func": "var username = msg.username;\nvar user_id = msg.payload[0].userid;\nvar password = msg.payload[0].password;\nvar ssid = msg.payload[0].ssid;\nvar wifipassword = msg.payload[0].wifipassword;\nvar homegps = msg.payload[0].homegps;\n\nmsg = {\n     topic: username,\n     payload: {\n          username: username,\n          userid: user_id,\n          password: password,\n          ssid: ssid,\n          wifipassword: wifipassword,\n          homegps: homegps\n     }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 280,
        "wires": [
            [
                "dfbe6e008d9098ca",
                "61e517ad912441fc"
            ]
        ]
    },
    {
        "id": "61e517ad912441fc",
        "type": "debug",
        "z": "b4221cfa3dcd5ed5",
        "g": "c9d5dc2961b59ead",
        "name": "debug 399",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 200,
        "wires": []
    },
    {
        "id": "cbeb5accb1a944bc",
        "type": "switch",
        "z": "b4221cfa3dcd5ed5",
        "g": "c9d5dc2961b59ead",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 300,
        "wires": [
            [
                "186457cf584af6fe"
            ],
            [
                "6f8a6c329d7f9b2b"
            ]
        ]
    },
    {
        "id": "e04bf22c9a2c3246",
        "type": "debug",
        "z": "b4221cfa3dcd5ed5",
        "g": "c9d5dc2961b59ead",
        "name": "debug 401",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 420,
        "wires": []
    },
    {
        "id": "6f8a6c329d7f9b2b",
        "type": "function",
        "z": "b4221cfa3dcd5ed5",
        "g": "c9d5dc2961b59ead",
        "name": "function 221",
        "func": "var username = msg.username;\nvar user_id = \"None\";\n\nmsg = {\n     topic: username,\n     payload: {\n          username: username,\n          userid: user_id\n     }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 340,
        "wires": [
            [
                "dfbe6e008d9098ca",
                "e04bf22c9a2c3246"
            ]
        ]
    },
    {
        "id": "aec2335dddb911b5",
        "type": "debug",
        "z": "b4221cfa3dcd5ed5",
        "g": "d0a1bd19bc64025e",
        "name": "debug 418",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 660,
        "wires": []
    },
    {
        "id": "90c2152ce38be028",
        "type": "debug",
        "z": "b4221cfa3dcd5ed5",
        "g": "d0a1bd19bc64025e",
        "name": "debug 431",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "56520437f481fffe",
        "type": "mqtt out",
        "z": "b4221cfa3dcd5ed5",
        "g": "c34ebbce2b4a19c4",
        "name": "",
        "topic": "server",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f8c0a9b48a1c6f6",
        "x": 410,
        "y": 980,
        "wires": []
    },
    {
        "id": "32382d79b26ce170",
        "type": "inject",
        "z": "b4221cfa3dcd5ed5",
        "g": "c34ebbce2b4a19c4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 980,
        "wires": [
            [
                "56520437f481fffe"
            ]
        ]
    },
    {
        "id": "68d1cdb2b5e16d17",
        "type": "mqtt in",
        "z": "b4221cfa3dcd5ed5",
        "g": "c34ebbce2b4a19c4",
        "name": "",
        "topic": "server",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f8c0a9b48a1c6f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 550,
        "y": 980,
        "wires": [
            [
                "245ff57ad5357e39"
            ]
        ]
    },
    {
        "id": "245ff57ad5357e39",
        "type": "debug",
        "z": "b4221cfa3dcd5ed5",
        "g": "c34ebbce2b4a19c4",
        "name": "debug 500",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 980,
        "wires": []
    },
    {
        "id": "7a8dfd3289839ecb",
        "type": "debug",
        "z": "b4221cfa3dcd5ed5",
        "g": "c9d5dc2961b59ead",
        "name": "debug 502",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 240,
        "wires": []
    },
    {
        "id": "6f8c0a9b48a1c6f6",
        "type": "mqtt-broker",
        "name": "mqtt:53",
        "broker": "cp-localmqtt.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ead502047907d635",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "mrtn",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "mrtn",
        "userFieldType": "str",
        "password": "24l1SyN0NGK5",
        "passwordFieldType": "str"
    }
]